@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-VariableFont.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont.ttf');
}

.formHeader {
    font-family: 'OpenSans';
    font-weight: 900;
    color: #90030C;
    padding: 1rem;
}

.inputText {
    font-family: 'Montserrat';
    font-weight: 500;
}

Input {
    font-family: 'OpenSans';
}

Button {
    font-family: 'Montserrat';
}

.signUpText1 {
    font-family: 'Montserrat';
    font-weight: 300;
    color: #6D6D6D;
}

.signUpText2 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #000000;
}