@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

Input {
  font-family: "OpenSans";
}

.joinRevUp {
  letter-spacing: 4px;
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.4);
}