/* Tailwind Initialization */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular CSS */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;

  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

Input {
  font-family: "OpenSans";
}

.joinRevUp {
  letter-spacing: 4px;
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.4);
}

.swoosh-text {
  background: linear-gradient(
    120deg,
    #ffffff 0%,
    #292929 20%,
    #90030C 40%,
    #F5EFE7 60%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: swoosh 4s ease-in-out infinite;
}

@keyframes swoosh {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
